<div class="posts">
  <% @posts.each_with_index do |post, index| %>
    <div class="post">
      <div style="display: flex; align-items: baseline;">
        <span style="color: #828282; width: 25px;"><%= index + 1 %>.</span>
        <div>
          <h2><%= link_to post.title, post_path(post) %></h2>
          <p class="post-meta">
            by <%= post.user.username %> | last updated <%= time_ago_in_words(post.updated_at) %> ago |  
            <%= link_to "#{pluralize(post.comments.count, 'comment')}", post_path(post) %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>